
/*==================================VARIABLES===================================*/
:root{
    --hover-bg-color: rgba(180,240,150,45);
    --background-rgb-color: rgba(160,160,160,60);
    --section-content-color: rgba(211,211,211,60);
    --body-font-color: black;
    --p-font-size:18px;
    --fig-bg-color: rgba(128,128,128,60);
    --main-margin: 0 auto;
    --main-font-family: "Times New Roman", Times, serif;
}
/*=======================================HEADER=================================*/
header{
    background-color:var(--background-rgb-color);
}
/*========================================NAV===================================*/
nav{
    background-color:var(--section-content-color);
}
nav li{
    display: inline-block;
    list-style-type: none;
    width: 12em;
    font-family: var(--main-font-family);
}
nav li a:hover{
    font-size: 18px;
}
.activePage{
    font-weight: bold;
    font-size: 20px;
    font-family: var(--main-font-family);
    text-decoration: underline overline;

}
/*=====================================MAIN=====================================*/
main section{
    padding: 1em;
    height: auto;
}
/*=====================================SECTION==================================*/
section ul{
    padding: 0;
    list-style-type: none;
    background-color:var(--section-content-color);
    height: 90%;
    margin-bottom: 1em;
}
section li{
    padding: 0;
    list-style-type: none;
    margin-bottom: 2em;
    background-color:var(--section-content-color);
}
section p{
    height: 90%;
    margin-bottom: 1em;
}

/*=====================================BODY=====================================*/
body{
    margin: var(--main-margin);
    padding: 1em;
    width: 90%;
    font-family: var(--main-font-family);
    background: url("../images/siteBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p{
    margin: var(--main-margin);
    font-size: var(--p-font-size);
    font-family: var(--main-font-family);
    background-color: var(--section-content-color);
    color: var(--body-font-color);
}
section pre{
    /*background-color: var(--body-bg-color);*/
}
h1{
    text-transform: uppercase;
}
ul{
    /*background-color: var(--body-bg-color);*/
    color: var(--body-font-color);
}
h3{
    background-color:var(--background-rgb-color);
}
/*=====================================Footer===================================*/
footer{
    position:fixed;
    width:90%;
    bottom:0;
    height: 1.5em;
}
/*=======================================IMG====================================*/
figure {
    border: thin solid darkslategray;
    border-radius: 0.4em;
    padding: 0.5em;
    text-align: center;
    /*background-color: var(--body-bg-color);*/
}

figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}

img{
    border-radius: 0.4em;
    max-width: 100%
}

.small {
    width: 150px;
}
.left{
    float: left;
    margin-left: 0em;
}
.right{
    float: right;
    margin-left: 1em;
}
.medium{
    width:350px;
}
cite{
    font-size: xx-small;
    color: black;

}
/*=======================================LINKS==================================*/
a:link{
    color: var(--body-font-color);
    text-decoration: none;
    font-family: var(--main-font-family);
}
a:hover{
    text-decoration: underline;
    font-family: var(--main-font-family);
    background-color: var(--hover-bg-color);
}
a:visited{
    color: var(--body-font-color);
}
/*=======================================FORM===================================*/
/*form fieldset{
    background-color:var(--fig-bg-color);
}
*/
/*======================================TABLE===================================*/
table, th, td{
    border: 1px solid lightgray
}
table{
    width: 80%;
    margin-left:10%;

}
table caption{

}
tr:nth-child(even){
    background-color: lightgrey;
}
tr:nth-child(odd){
    background-color: darkgray;
}
.border{
    border: 1px solid black;
}
.border-bottom{
    border-bottom: 1px solid black;
}

/*======================================GRID====================================*/
main.grid{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
main.form{
    form{
        margin-bottom: 1.5em;
    }

}
main.index{
    display: grid;
    grid-template-columns: 16% 28% 28% 28%;
    section{
        margin-bottom: 3em;
    }
    /*footer{
        position:absolute;
        bottom:0;
        margin-top: 2em;
    }*/
}
main.listing{
    display:grid;
    grid-template-columns: auto auto auto;
}
main.about{
    display: grid;
    grid-template-columns: auto;
}
/*=====================================View port================================*/

@media (max-width: 1080px){
    main.index{
        grid-template-columns: auto;
    }
    main.listing{
        grid-template-columns: auto;
    }
}
