body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: #313131;
}

nav {
    border-top: 2px solid;
    border-color: white;
}
nav ol {
    padding: 0.1em;

}

li {
    display: inline-block;
    padding-right: 2em;
}

a {
    color: #FFF;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
}

a:hover {
    font-size: 25px;
    color:ivory;
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.title {
    margin-top: 15%;
    margin-left: 7%;
    height: 50px;   
    position: relative;
    z-index: 1;
    color: white;
    font-size: 30px;
    padding: 8px 8px;
    font-weight: bold;
}
.title::before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 23%;
    border-bottom:1px solid white;
}
.date {
    padding: 8px 8px;
    margin-left: 7%;
    font-size: 23px;
}
