body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: #313131;
}

section[class="^top"] h1 {
    margin: auto; 
}

section[class="^top"] p {
    margin: auto;
    margin-bottom: 1%;
}

nav {
    border-top: 2px solid;
    border-color: white;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ol {
    margin-top: 5px;
    padding: 0.1em;
}

li {
    display: inline-block;
    padding-right: 2em;
}

a {
    color: #FFF;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
}

a:hover {
    color:orange;
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.date {
    font-size: 18px;
}

.row {
    margin: 0 10px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.column {
  float: left;
  width: 22.5%;
  padding: 5px 20px;
}
.card {
  box-shadow: 2px 2px 2px 2px rgb(25, 25, 25);
  transition: 0.3s;
  padding: 4px 4px;
  background-color: #414141;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10%;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #adadad;
  position: relative;
}
.card:hover {
  box-shadow: 3px 3px 3px 3 px rgb(25, 25, 25);
}
.card_header {
    font-size: 25px;
    font-weight: bold;
    padding-bottom:20px;
}